/* 全体 */
html{
  height: 100%;
  margin: 0;
}
body{
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}

/* ヘッダー */
header{
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #F4F2F3;
  background-size: cover;
}
.kikuya{
  display: flex;
  margin: 10px;
  height: 70px;
  position: relative;
  left: 200px;
  top: 20px;
}
.kikuya h1{
  font-family: 'New Tegomin', serif;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 37px;
  margin: 10px;
  color: #79674E;
}
.kikuya h2{
  font-family: 'New Tegomin', serif;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 20px;
  color: #79674E;
  margin: 10px;
  position: relative;
  top: 15px;
}

/* メイン */
.mainVisual{
  text-align: center;
}
.mainVisual img{
  width: 90%;
  margin: 50px;
}

/* お店について */
.area{
  background-color: #F4F2F3;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.title1 h1{
  font-size: 30px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
  sans-serif;
  text-align: center;
  margin: 30px;
  color: #79674E;
}
.about {
  margin-bottom: 200px;
}
.text2 {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  font-size: 20px;
  position:  relative;
  top: 30px;
  color: #79674E;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}
.tennaiImg{
  position: relative;
  top: 80px;
  text-align: center;
}
.tennaiImg img{
  margin-left: 20px;
  margin-right: 20px;
  border: 15px solid #fff;
}

/* アクセス */
.area2{
  background-color: #fff;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.acsess{
  display: flex;
  position: relative;
  left: 20px;
  bottom: 30px;
}
.map img{
  margin: 80px;
  position: relative;
}
.text{
  margin: 10px;
}
.text p{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  font-size: 20px;
  position:  relative;
  top: 100px;
  color: #79674E;
}
.text a{
  color: #79674E;
  position: relative;
  top: 120px;
  left: 130px;
  text-decoration: underline;
}
.acsessInfo{
  position: relative;
  bottom: 0px;
  top: 180px;
  left: 5px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  color: #79674E;
}
.acsessInfo h1{
  font-size: 20px;
}
.acsessInfo a{
  color: #79674E;
  text-decoration: underline;
  position: relative;
  left: 30px;
}

/*リンク */
.area3{
  background-color: #F4F2F3;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.snsQr{
  position: relative;
  text-align: center;
  top: 50px;
}
.snsQr p{
  color: #79674E;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  margin: 0;
}
.snsQr img{
  margin: 20px;
}

/* フッター */
footer{
  height: 50px;
  text-align: center;
  padding: 30px;
  color: #79674E;
}

/* タブレット */
@media screen and (max-width: 959px)  {

  header{
    height: 100px;
  }
  body{
    margin: 0:
  }
  .kikuya{
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    left: 30px;
    top: 20px;
  }
  .kikuya h1{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 30px;
    color: #79674E;
  }
  .kikuya h2{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 20px;
    color: #79674E;
    position: relative;
    top: 10px;
  }
  .follow-me {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
    position: relative;
    left: 0px;
    margin-top: 20px;
    text-shadow: 2px 2px 2px #5E5D61;
  }
  .follow-me li {
    text-align: center;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
  }
  .follow-me li a::before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 44px; /* Button height */
    line-height: 44px; /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 44px; /* Button width */
  }
  .follow-me li a:hover::before {
    opacity: 0.7;
  }
  .follow-me li a[href*="twitter.com"]::before{
    background-color: #5C84CD; content: "\f099";
  }
  .follow-me li a[href*="instagram.com"]::before{
    background-color: #C35394; content: "\f16d";
  }
  .mainVisual{
    text-align: center;
  }
  .mainVisual img{
    width: 90%;
    margin: 30px;
  }
  /* お店について */
  .area{
    background-color: #F4F2F3;
    width: 100%;
    height: 280px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title1 h1{
    font-size: 25px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
    sans-serif;
    text-align: center;
    margin: 10px;
    color: #79674E;
  }
  .about {
    margin:0px;
  }
  .text2 {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 14px;
    position:  relative;
    top: 30px;
    color: #79674E;
    text-align: center;
    line-height: 30px;
    margin: 10px;
  }
  .tennaiImg{
    display: none;
  }
  .tennaiImg img{
    display: none;
  }

  /* アクセス */
  .area2{
    background-color: #fff;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .acsess{
    display: flex;
    position: relative;
    left: 0px;
    bottom: 30px;
    top: 20px;
  }
  .map{
    position: relative;
    top: 20px;
  }
  .map img{
    width: 350px;
    margin: 20px;
    position: relative;
  }
  .textBox{
    position: relative;
    top: 40px;
  }
  .text p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 14px;
    position:  relative;
    top: 0px;
    left: 0px;
    color: #79674E;
    text-align: left;
    line-height: 25px;
    margin: 15px;
  }
  .text a{
    color: #79674E;
    position: relative;
    top: 0px;
    bottom: 10px;
    font-size: 12px;
    text-align: left;
    left: 80px;
    text-decoration: underline;
  }
  .acsessInfo{
    position: relative;
    bottom: 0px;
    left: 0px;
    top: 40px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    color: #79674E;
    font-size: 11px;
    text-align:left;
    margin: 15px;
    width: 270px;
  }
  .acsessInfo h1{
    font-size: 12px;
  }
  .acsessInfo a{
    color: #79674E;
    text-decoration: underline;
    position: relative;
    left: 30px;
  }
  /* リンク */
  .area3{
    background-color: #F4F2F3;
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text2{
    position: relative;
    top: 50px;
  }
  .snsQr{
    position: relative;
    top: 50px;
  }
  .snsQr img{
    margin: 20px;
    width: 100px;
  }
  .snsQr p{
    color: #79674E;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 12px;
    margin: 0;
  }
  footer{
    font-size: 15px;
  }
}

/* SP */
@media screen and (max-width: 480px){

  /* 全体 */
  body{
    margin: 0:
  }
  /* ヘッダー */
  header{
    height: 80px;
  }
  .kikuya{
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    left: 20px;
    top: 10px;
  }
  .kikuya h1{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 25px;
    color: #79674E;
  }
  .kikuya h2{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 15px;
    color: #79674E;
    position: relative;
    top: 10px;
  }

  /* メインビジュアル */
  .mainVisual{
    text-align: center;
  }
  .mainVisual img{
    width: 90%;
    margin: 20px;
  }

  /* お店について */
  .area{
    background-color: #F4F2F3;
    width: 100%;
    height: 270px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title1 h1{
    font-size: 20px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
    sans-serif;
    text-align: center;
    margin: 10px;
    color: #79674E;
  }
  .about {
    margin:0px;
  }
  .text2 {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 11px;
    position:  relative;
    top: 30px;
    color: #79674E;
    text-align: center;
    line-height: 25px;
    margin: 10px;
  }
  .tennaiImg{
    display: none;
  }
  .tennaiImg img{
    display: none;
  }

  /* アクセス */
  .area2{
    background-color: #fff;
    width: 100%;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .acsess{
    display: block;
    position: relative;
    top: 30px;
    left: 0;
  }
  .map{
    text-align: center;
  }
  .map img{
    width: 80%;
    margin: 20px;
  }
  .text p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 11px;
    position:  relative;
    top: 0px;
    left: 0px;
    color: #79674E;
    text-align: left;
    line-height: 25px;
    margin: 15px;
  }
  .text a{
    color: #79674E;
    position: relative;
    top: 0px;
    bottom: 10px;
    font-size: 10px;
    text-align: left;
    left: 200px;
    text-decoration: underline;
  }
  .acsessInfo{
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    color: #79674E;
    font-size: 11px;
    text-align:left;
    width: 360px;
  }
  .acsessInfo h1{
    font-size: 12px;
  }
  .acsessInfo a{
    color: #79674E;
    text-decoration: underline;
    position: relative;
    left: 30px;
  }

  /* リンク */
  .area3{
    background-color: #F4F2F3;
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .snsQr img{
    margin: 20px;
    width: 100px;
  }
  .snsQr p{
    color: #79674E;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 12px;
    margin: 0;
  }
  footer{
    font-size: 13px;
  }
}
