html{
  height: 100%;
  margin: 0;
}
body{
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #F4F2F3;
  background-size: cover;
}
.kikuya{
  display: flex;
  margin: 10px;
  height: 70px;
  position: relative;
  left: 200px;
  top: 20px;
}
.kikuya h1{
  font-family: 'New Tegomin', serif;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 37px;
  margin: 10px;
  color: #79674E;
}
.kikuya h2{
  font-family: 'New Tegomin', serif;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 20px;
  color: #79674E;
  margin: 10px;
  position: relative;
  top: 15px;
}
ul{
  display: flex;
  list-style: none;
  justify-content: center;
  position: relative;
  top: 32px;
  left: 500px;
  padding: 0;
}
.main-nav__item{
  border-left: 3px solid #79674E;
  margin: 10px;
}
li a{
  color: #79674E;
  text-decoration: none;
  padding: 7px;
}
/* メイン */
.mainVisual{
  text-align: center;
}
.mainVisual img{
  width: 90%;
  margin: 50px;
}
.title1 h1{
  font-size: 30px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
  sans-serif;
  text-align: center;
  margin: 30px;
  color: #79674E;
}
.text{
  margin: 10px;
}
.text p{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  font-size: 20px;
  position:  relative;
  top: 100px;
  color: #79674E;
}
.text a{
  color: #79674E;
  position: relative;
  top: 120px;
  left: 130px;
  text-decoration: underline;
}
.about {
  margin-bottom: 200px;
}
.tennaiImg{
  position: relative;
  top: 80px;
  text-align: center;
}
.tennaiImg img{
  margin-left: 20px;
  margin-right: 20px;
  border: 15px solid #fff;
}
.acsess{
  display: flex;
  position: relative;
  left: 20px;
  bottom: 30px;
}
.map img{
  margin: 80px;
  position: relative;
}
.acsessInfo{
  position: relative;
  bottom: 320px;
  left: 845px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  color: #79674E;
}
.acsessInfo h1{
  font-size: 20px;
}
.acsessInfo a{
  color: #79674E;
  text-decoration: underline;
  position: relative;
  left: 30px;
}
.snsQr{
  position: relative;
  text-align: center;
}
.snsQr img{
  margin: 20px;
}
.snsQr p{
  color: #79674E;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  margin: 0;
}
.text2 {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  font-size: 20px;
  position:  relative;
  top: 30px;
  color: #79674E;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}
.area{
  background-color: #F4F2F3;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.area2{
  background-color: #fff;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.area3{
  background-color: #F4F2F3;
  width: 100%;
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ボタン全体 */
.flowbtn10{
  font-family:'Verdana',sans-serif;
  border-radius:4px;
  display:inline-block;
  font-size:35px;
  text-decoration:none;
  margin: 30px;
  transition:.5s;
  color:#444;

}

/* ボタン全体 */
.flowbtn9{
display:inline-block;
font-size:40px;
text-decoration:none;
transition:.5s;
position: relative;
right: 200px;
}
/* Twitter */
.flowbtn9 .fa-twitter-square{
color:#55acee;
}
/* Instagram */
.flowbtn9 .fa-instagram{
color:#c6529a;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
}
/* アイコン全体の位置 */
.snsbtniti{
display:flex;
flex-flow:row wrap;
justify-content:space-between;
}
/* アイコン同士の余白 */
.snsbtniti li{
flex:0 0 33%;
text-align:center!important;
}
/* アイコンにマウスを乗せた時 */
.flowbtn9:hover{
-webkit-transform: translateY(-5px);
-ms-transform: translateY(-5px);
transform: translateY(-5px);
}

/* フッター */
footer{
  height: 50px;
  text-align: center;
  padding: 30px;
  color: #79674E;
}
/* タブレットレスポンシブ */
@media screen and (max-width: 959px)  {

  header{
    height: 100px;
  }
  body{
    margin: 0:
  }
  .kikuya{
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    left: 30px;
    top: 20px;
  }
  .kikuya h1{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 30px;
    color: #79674E;
  }
  .kikuya h2{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 20px;
    color: #79674E;
    position: relative;
    top: 10px;
  }
  .mainVisual{
    text-align: center;
  }
  .mainVisual img{
    width: 90%;
    margin: 30px;
  }

}

/* iphoneレスポンシブ */
@media screen and (max-width: 480px){

  /* 全体 */
  body{
    margin: 0:
  }

  /* ヘッダー */
  header{
    height: 80px;
  }
  .kikuya{
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    left: 20px;
    top: 10px;
  }
  .kikuya h1{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 25px;
    color: #79674E;
  }
  .kikuya h2{
    font-family: 'New Tegomin', serif;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    font-size: 15px;
    color: #79674E;
    position: relative;
    top: 10px;
  }

  /* メインビジュアル */
  .mainVisual{
    text-align: center;
  }
  .mainVisual img{
    width: 90%;
    margin: 20px;
  }

  /* お店について */
  .area{
    background-color: #F4F2F3;
    width: 100%;
    height: 270px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title1 h1{
    font-size: 20px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
    sans-serif;
    text-align: center;
    margin: 10px;
    color: #79674E;
  }
  .about {
    margin:0px;
  }
  .text2 {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 11px;
    position:  relative;
    top: 30px;
    color: #79674E;
    text-align: center;
    line-height: 25px;
    margin: 10px;
  }
  .tennaiImg{
  display: none;
  }
  .tennaiImg img{
    display: none;
  }

  /* アクセス */
  .area2{
    background-color: #fff;
    width: 100%;
    height: 660px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .acsess{
    display: block;
    position: relative;
    top: 30px;
    left: 0;
  }
  .map{
    text-align: center;
  }
  .map img{
    width: 80%;
    margin: 20px;
  }
  .text p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 11px;
    position:  relative;
    top: 0px;
    left: 0px;
    color: #79674E;
    text-align: left;
    line-height: 25px;
    margin: 15px;
  }
  .text a{
    color: #79674E;
    position: relative;
    top: 0px;
    bottom: 10px;
    font-size: 10px;
    text-align: left;
    left: 200px;
    text-decoration: underline;

  }
  .acsessInfo{
    position: relative;
    bottom: 0px;
    left: 0px;
    top: 60px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    color: #79674E;
    font-size: 11px;
    text-align:left;
    margin: 15px;
  }
  .acsessInfo h1{
    font-size: 12px;
  }
  .acsessInfo a{
    color: #79674E;
    text-decoration: underline;
    position: relative;
    left: 30px;
  }
  .area3{
    background-color: #F4F2F3;
    width: 100%;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .snsQr img{
    margin: 20px;
    width: 100px;
  }
  .snsQr p{
    color: #79674E;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
    font-size: 12px;
    margin: 0;
  }
}
