map iframe{
  position: relative;
  left: 500px;
}
h1{
  font-size: 30px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',
  sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text p{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',  sans-serif;
  font-size: 20px;
  position:  relative;
}
.text{
  margin: 100px;
}
.map img{
  margin-left: 100px;
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.acsess{
  display: flex;
}
